/* Hero.css */
.custom-bg {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  

  .text-effect {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  
  .text-effect:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: inherit;
  }
  
  .highlight {
    color: rgb(0, 51, 255) !important;  /* Choose a color that stands out */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a text shadow */
    font-weight: bold; /* Make the text bold */
  }
  
  